.modal-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 302px;
  padding: 24px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  min-height: 79px;
  gap: 8px;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
